.project__pic {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 25% 25% 0 25%;
    margin-bottom: 50px;
}

.project__pic:hover {
    opacity: 0.7;
    transition: .3s;
}
